<h3>Welcome to My Inventory!</h3>

<p>Hi {{ name }}! You're successfully registered.</p>
<p>Please click <a href="{{ absolute_url(path('activate_user', {'token' : token})) }}">here</a> to finish your registration.</p>
<p>Thanks!</p>