<p><h2>Hi {{ name }},</h2></p>
<p>You are just one step away to start enjoying your membership.</p>
<p>Please click <a href="{{ absolute_url(path('activate_auth', {'email' : email, 'code' : code})) }}">here</a> to finish your registration.</p>
<p>Thanks!</p>