<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href={{ path('homepage') }}">{{ asset('images/logo.png') }}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            {# @if(!Auth::guest()) #}
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">House <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        {# @if(Tools::checkUserRole(Session::get('mophie.user.roles'), ['root', 'administrator'])) #}
                        <li>
                            <a href="" class="menu-link"><i class="fa fa-home menu-link-icon"></i>Add new</a>
                        </li>
                        <li>
                            <a href="" class="menu-link"><i class="fa fa-list-alt menu-link-icon"></i>List</a>
                        </li>
                        {# @endif #}
                    </ul>
                </li>
                {# @if(Tools::checkUserRole(Session::get('mophie.user.roles'), ['root', 'administrator']))  #}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Auto <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="{{ path('new_vehicle') }}" class="menu-link"><i class="fa fa-car menu-link-icon"></i>Add new</a>
                        </li>
                        <li>
                            <a href="" class="menu-link"><i class="fa fa-list-alt menu-link-icon"></i>All</a>
                        </li>
                    </ul>
                </li>
                {# @endif #}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Logs <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="" class="menu-link"><i class="fa fa-tasks menu-link-icon"></i>View</a>
                        </li>
                    </ul>
                </li>
                {# @if(Tools::checkUserRole(Session::get('mophie.user.roles'), ['root']))  #}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Accounts <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="" class="menu-link"><i class="fa fa-users menu-link-icon"></i>Users</a>
                        </li>
                    </ul>
                </li>
                {#  @endif #}
                {# @if(Tools::checkUserRole(Session::get('mophie.user.roles'), ['root'])) #}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">System <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="" class="menu-link"><i class="fa fa-cogs menu-link-icon"></i>Settings</a>
                        </li>
                    </ul>
                </li>
                {# @endif #}
            </ul>
            {# @endif #}
            <ul class="nav navbar-nav navbar-right">
                {# @if(Auth::guest())  #}
                <li></li>
                {# @else #}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><Ryan><span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="" class="menu-link"><i class="fa fa-power-off menu-link-icon"></i>Logout</a>
                        </li>
                    </ul>
                </li>
                {# @endif #}
            </ul>
        </div>
    </div>
</nav>